/* body {
    background-color: salmon;
    color: azure;
} */

/* .form-registration input {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
} */
